@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ClickPoint Code Test</h1>
    <p class="lead">Welcome to my MVC code test for ClickPoint.  Inside you'll find probably the most basic contact management system ever!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Get right to the exciting part.  Go look up some leads!
        </p>
        <p><a class="btn btn-default" href="/lead">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Your Account</h2>
        <p>If you've logged in, you can manage your account.</p>
        <p><a class="btn btn-default" href="/account/manage">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nothing to see here</h2>
        <p>Since we really want you to see those great leads, this button also takes you there!</p>
        <p><a class="btn btn-default" href="/lead">Learn more &raquo;</a></p>
    </div>
</div>